name: Lint

on:
  pull_request:
    branches:
      - main

jobs:
  run-linters:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.13"]
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -  
        name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: |
            setup.cfg
            pyproject.toml
      - 
        name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install pylint .
      - 
        name: Run Lint
        run: |
          pylint spydertop ${{ matrix.python-version == '3.8' && '--disable=unknown-option-value' || '' }}
      - 
        name: Run Type Check
        uses: jakebailey/pyright-action@v1
        with:
          python-version: ${{ matrix.python-version }}
